
footer {
    background: var(--color-black);
    color: var(--color-gray);
    font-size: 14px;
    padding: 2rem;
    margin-top: 2rem;
    
  }
  footer p {
    color: var(--color-gray);
    padding-top: 2rem;
  }
  
  footer h3 {
    color: var(--color-white);
    margin-bottom: 16px;
    font-size: medium;
  }
  .container {
    width: 90%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
  }
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}
.col{
  display: flex;
  flex-direction: column;
    padding-right: 2rem;
    padding-bottom: 1rem;
}
.footerTitle{
  
}
li{
    color: rgb(255, 255, 255);
}
.gg{
    color: rgb(44, 173, 224, 0.95);
    padding-right: 1rem;
}